.span1{
    font-size: 15px;
    float: left;
}
.row1{
    background-color:#015294;
    height: 100px;
}
.head1{
    color: white;
    font-family: arial;
    font-weight: bold;
    padding-left: 20px;
    text-shadow: 5px 8px 10px red;   
}
.head2{
    text-align: right;
    padding-right: 20px; 
    color: white;
}
.navbar-inverse{
    background-color: #015294;
    border: 1px solid green;
}
#lk1>ul>li>a{
    color: white;
    padding-left: 40px;
    font-size: 15px;
}
.nav li a{
    color: yellow;
}
.nav li a:hover{
    background-color: blue;
}
nav{
    width:1382px;
}
tbody{
    background-color: blue;
    height: 200px;  
}
.m1{

    color:greens;
}
tbody>tr>td{
    padding:5px;
}
body{
    background: -webkit-linear-gradient(orange,white,green);
}
